* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: "century gothic";
    font-weight: 400;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #053868;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    text-decoration: none;


}

nav li {
    display: inline;
    text-transform: uppercase;
    padding: 20px;
    color: darkkhaki;
}

nav a {
    text-decoration: none;
    color: aquamarine;
}

#section1 {
    height: 100vh;
}

.home {
    height: 40%;
    background-color: #c38d9e;

}

.position {
    height: 60%;
    background-color: #379683;
    color: gainsboro;
}

.image-logo {
    clip-path: circle(50%);
    height: 150px;
    width: 150px;
}

#jude{
    color: darkkhaki;
}


.home-primary-main {
    padding-top: 100px;
    text-align: center;
    font-family: "century gothic";
    font-size: 60px;
    font-weight: 100;
}

.home-primary-sub {
    text-align: center;
    font-family: "century gothic";
    font-size: 20px;
}

.mobile-logo-1{
    float: left;
    margin-left: 410px;
    margin-top: 100px;
    font-family: "century gothic";
}

.web-design-logo-2{
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    font-family: "century gothic";
}

.virtual-reality-logo-3{
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    font-family: "century gothic";
}

.section1-1{
    height: 100vh;
    background-color: darkgray ;
}

.AboutUs{
    text-align: center;
    font-weight: 500;
    padding-top: 50px;
    font-size: 50px;
}

.profiles{
    display: inline;
    text-align: center;
}
.pic-bors{
    width: 200px;
    float: left;
    margin-left: 80px;
}

.pic-adam{
    width: 200px;
    float: left;
    margin-left: 100px;
}

.pic-jas{
    width: 200px;  
    float: left; 
    margin-left: 100px; 
}

.pic-jude{
    width: 200px;
    float: left;
    margin-left: 100px;
}

.pic{
    height: 300px;
    width: 270px;  
    float: left; 
    margin-left: 100px; 
    margin-top: 50px;
    text-align: center;
}

.text{
    padding-left: 100px;
}

.subtext{
    padding-left: 100px;
}

#section3{
    height: 100vh;  
    background-color: darkolivegreen ;  
    text-align: center;
}

.box{
    height: 150px;
    width: 200px;
    border: 1px solid black;
    float: left;
    margin: 30px 30px;
}

.boxes{
    margin: 70px 350px;
}

#section5{
    height: 60vh;
    background-color: #c38d9e;
    padding-top: 40px;
} 

fieldset{
    padding: 20x;
    margin-left: 600px;
    height: 40vh;
    width: 300px;
    margin: auto;
    font-size: 20px;
    padding: 20px;
    color: #fff;

}
.btn-form{
    font-size: 18px;
    padding-top: 10px;
    border-radius: 10px;
    margin-right: 110px;
    margin-bottom: 20px;
    width: 100px;
    float: right;
    background-color: white;
    color: black;
    margin-top: 20px;
}
footer {
    height: 30vh;
    background-color: #053868;
    text-align: center;

}

.footer-nav {
    width: 400px;
    float: left;
    margin-left: 350px;
    list-style-type: none;
}

.footer-nav li {
    list-style-type: none;
}
.footer-nav li a{
    color:#fff;
    text-decoration: none;
}

.footer-contacts {
    width: 400px;
    float: right;
    margin-right: 350px;
    list-style-type: none;
}

.footer-contacts li {
    list-style-type: none;
}

